
$legacy: <% if (legacy) { %>true <% } else { %>false <% } %>!default;
$mobile-only: false !default;

$font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans !default;
$font-size: 12px !default;

$heading-font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif !default;
$h1-font-size: 2em !default;
$h2-font-size: 1.8em !default;
$h3-font-size: 1.6em !default;
$h4-font-size: 1.4em !default;
$h5-font-size: 1.2em !default;
$h6-font-size: 1em !default;

$background: #fff !default;
$color: #000 !default;
$brand: #d91a29 !default;
