<% if (legacy) { %><!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="<% if (includeModernizr) { %>no-js <% } %>lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="<% if (includeModernizr) { %>no-js <% } %>lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="<% if (includeModernizr) { %>no-js <% } %>lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html<% if (includeModernizr) { %> class="no-js"<% } %>><!--<![endif]--><% } else { %>
<!DOCTYPE html>
<html<% if (includeModernizr) { %> class="no-js"<% } %>><% } %>
<head lang="zh-cmn">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
	<title><%= projectname %></title>
	<link rel="stylesheet" href="css/<% if (useSass) { %>main<% } else { %>concat<% } %>.css" inline><% if (includeModernizr) { %>
	<!-- build:js js/modernizr.js -->
	<script src="js/lib/modernizr.js"></script>
	<!-- endbuild --><% } else if (legacy) { %>
  <!-- build:js js/html5shiv.js -->
  <script src="js/lib/html5shiv.js"></script>
  <!-- build:js js/modernizr.js --><% } %>
</head>
<body><% if (!legacy) { %>
	<!--[if lt IE 8]>
	<p class="browserupgrade">为您更好的浏览此网页，请<a href="http://browsehappy.com/" target="_blank">升级浏览器</a></p>
	<![endif]--><% } %>
	<p>hello world</p>
	<!-- build:js js/bundle.js -->
  <% if (includeJQuery) { %><script src="js/lib/jquery.js"></script><% } %>
	<script src="js/main.js"></script>
	<!-- endbuild -->
</body>
</html>
